@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#navbar{
  width: 100%;
  left: 0;
  border: none;
  box-shadow: none;
  z-index: 9999;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


a{
    text-decoration: none;
}

html{
    background-color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.btn-primary{
    background-color: #EC1929;
}

.txt-primary{
    color: #EC1929;
}
.nav-list{
    justify-content: center;
}

.navbar{
    /* max-width: 861px;
    margin:0 auto; */
}
.navbar-nav{
    align-items: center;
    position: relative;
    border-radius: 35px;
    padding: 3px 0;
    background-color: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;    /* width: 100% !important; */
}
.navbar-nav > li{
    /* padding: 5px 10px; */
    /* flex: 1; */
}
.navbar-nav > li > .nav-link{
   /* text-transform: uppercase; */
   padding: 0rem 20px !important;
   color: #2E2E2E;
   /* font-weight: bold; */
}
.navbar-nav > li:first-child{
  padding-left: 15px !important;
}
.navbar .nav-link:hover{
    color: #EB2021;
}
.carousel-dark .carousel-caption{
  width: 100%;
}
.navbar .nav-link svg:hover{
  background-color: #F9F2F2;
  border-radius: 50%;

}
.navbar .dropdown-menu{
  padding: 25px 25px;
  top: 52px !important;

}
.navbar .form-search{
  border-right: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid #ECECEC;
  font-weight:400;
  color: #6E6E6E;
  padding-left: 25px;
}
.navbar .search .dropdown-menu{
  padding: 0;
  border-radius: 20px;
  margin-top: 25px;
}

.navbar-nav .search .off{
  display: none;
}
.navbar .form-search:focus{
  box-shadow: none;
  border: none;
  margin-right: 17px;
}
.navbar .search .dropdown-menu{
  width: 90%;
  border-radius: 25px;
}
.search-off{
  /* display: none; */
}
#navbar  .nav-item .nav-link.active{
  /* background-color: yellow; */
}
#navbar  .nav-item .nav-link.active .search-on{
  background-color: #F7EDEE;

  border-radius: 50%;

}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #031331a8;
  z-index: 999;
  display: none;
}
.overlay.active{
  display: block;

}
#navbar  .nav-item .nav-link.active .search-on .on-path{
  stroke: #EB2021;
}
.language{
  padding-right: 11px;
}
.navbar-nav .language .dropdown-menu{
  width: 50%;
  left: 50%;
  border-radius: 25px;
}
.navbar-nav .dropdown-item{
  transition: all .3s ;
  padding: 10px;
  font-weight: 400;
}
.navbar-nav .form{
  height: 48px;
}
.navbar-nav .form .input-group{
  height: 100%;
}
.navbar .form .icon{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  margin-left: -17px !important;
  border-radius: 50% !important;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  border: none;
  transition: all .3s;
}

  .navbar-nav .product .dropdown-menu{
    padding: 30px;
    min-width: 384px;
    left: 20px;
  }
  .navbar-nav .product .dropdown-menu .dropdown-item{
      color: #2E2E2E;
      transition: all .3s;
  }
  .navbar-nav .product .dropdown-menu .dropdown-item:hover{
      color: #EB2021;
      font-weight: 600;
  }
.navbar-nav .form .icon:hover{
  background-color: #EB2021;
  color: white;
}
.navbar-nav .dropdown-menu > li >a:hover {
 
   background-color: #F9F2F2;
   color: #EB2021;
   border-radius: 10px;

}
.navbar-nav .language .dropdown-menu{
  margin-top: 25px;
}

.language-title{
    font-size: 18px;
    margin: 18px 0;
    margin-top: 0;
}

.nav-mobile{
  display: none !important;
}

/*End Header*/


/* Banner*/

.banner .carousel-caption{
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-title{
    font-size: 64px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
    min-width: 1000px;

}

.carousel-link{
    display: inline-flex !important;
    width: 170px;
    height: 60px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-top: 40px;
}

.banner .carousel-indicators{
    margin-bottom: 3rem;
    color: white;
}


.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: white !important;

    width: 10px;
    height: 4px;
    border-radius: 50%;
}
.banner .carousel-indicators .active{
    width: 40px !important;
    height: 4px !important;
    border-radius: 0px !important;
    padding: 0 !important;
    background-color: #EC1929 !important;
}


/* ENd  Bannerr ----------------------------------------------------------*/



/* About-home ---------------------------------------------------------*/
  .about{
   margin-top: 60px;
  }
 .about-title{
    text-align: center;
    font-size: 40px;
    position: relative;
    margin: 0 auto;
    
 }

 .about-content{
  margin-top: 50px !important; 
 }
 .about-content .right{
  padding-left: 35px;
 }
 .about-title::before{
    content: '';
    width: 80px;
    height: 5px;
    background-color: #EC1929   ;
    position: absolute;
    bottom:-15px ;

    left: 50%;
    transform: translate(-50%, -50%);
 }

/*End About-home ---------------------------------------------------------*/

/* Choose-home ---------------------------------------------------------*/

  .choose{
     background-image: url('/img/Mask\ group.png');
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     position: relative;
     height: 320px;
     margin-top: 74px;
  }
  .bg-overlay{
    background-color: #031331a8;

     position: absolute;
     width: 100%;
     height: 100%;
  }

  .choose-content{
    position: absolute;
    bottom: -107px;
    min-width: 80%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 40px 100px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
   .choose-content_title-2{
      margin-top: 35px;
   }
  .choose-content h5{
       color: #EC1929;
       font-size: 24px;
       margin-bottom: 15px;
       font-weight: bold;
  }
  .choose-content_box{
    max-width: 600px;
    margin: 0 auto;
  }
  .choose-content p{
    /* font-weight: bold; */

    font-family: "Montserrat", sans-serif;


  }
  .choose-top{
    padding-top: 55px;
    margin-top: 61px;
  }
  .choose .about-title{ 
    color: white;
  }
/*End Choose-home ---------------------------------------------------------*/


/* Products ---------------------------------------------------------*/

.products{
      margin-top: 60px;
      margin-bottom: 40px;
}

.products .about-title{
    color: #2E2E2E;
  }
  .products .card{
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;            border: none;
    border-radius: 15px;
    transition: all 1s;
  }
  .products .card img{
    border-radius: 15px;

  }

  .products .card:hover{
    box-shadow: #ec19291a 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px
    
  }
  .products .card .card-title{
    font-size: 22px;
  }
  .products .card .card-text{
    color: #6E6E6E;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;

  }
  .products .card .btn-readmore{
    color: #EB2021  ;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 500;
  }


   .owl-carousel .owl-dots.disabled,   .products .owl-carousel .owl-nav.disabled{
    display: block;
  }

.owl-stage-outer{
    position: relative;
    padding-bottom: 20px;
 }
   .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);

  }
   .owl-nav .owl-prev{
    position: absolute;
    left: -55px;
    background-color: #ECECEC !important;
    width: 40px ;
    height:40px ;
    border-radius: 50% !important;
    transition: all 1s;

  }
.owl-nav .owl-next{
    position: absolute;
    right: -55px;
    background-color: #ECECEC !important;
    width: 40px ;
    height: 40px ;
    border-radius: 50% !important;
     transition: all 1s;
  }
 .owl-nav .owl-next:hover,  .owl-nav .owl-prev:hover{
         background-color: #EB2021 !important;
  }

.icon-prev{
  stroke: white !important;
}
 .owl-nav .owl-next:hover   .owl-nav .owl-next .icon-next,  .products .owl-nav .owl-prev:hover  .products .owl-nav .owl-prev .icon-prev{
    background-color: #EB2021 !important;
    stroke: white !important;
}
.owl-dots{
    margin-top: 40px;
  }
 .owl-dots .owl-dot.active span{
    width: 50px;
  }

   .btn-all{
    display: inline-flex !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #EB2021 ;
    padding: 20px 25px;
    margin-top: 38px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;   }

   .icon-prev{
    stroke: white  !important;
   }

   .carousel-link-mobile{
    display: inline-flex !important;
    display: none !important;

    max-width: 170px;
    margin: 0 auto;
    height: 60px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-top: 15px;
  }

/*End Products ---------------------------------------------------------*/



/* Contact ---------------------------------------------------------*/

.contact{
    margin-top: 120px;
}
.mid{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 50px;
}

.mid .box{
  padding: 18px 50px;
}

.mid img{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.box-icon .icon{
    width: 56px;
    height: 56px;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-content h5{
    font-size: 16px;
}
.box-content > p{
  color: #6E6E6E;
}

.icon-wacth svg{
  margin-top: 6px;
}
.map{
    margin: 32px 0;
    border-radius: 20px;
    border: 1.6px solid #D9D9D9;
}

.map img{
    width: 100%;
    border-radius: 20px;
}
/*End Contact ---------------------------------------------------------*/


/* Reviews ---------------------------------------------------------*/

.reviews-title{

}

.reviews{
    margin: 40px 0;
   margin-top: 118px;
}

.reviews-content{
    margin-top: 55px;

}
.reviews-content .card{
    border-radius: 20px;
    border:none;
}
.reviews-content .card-title{
    font-size: 18px;
    color: #2E2E2E;
    margin-top: 9px;
}
.products .card .card-text{
    color: #6E6E6E ;
    margin-top: 10px;
    margin-bottom: 20px;
}
.reviews-content .card .card-text{
  color: #6E6E6E ;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;

}
/*End Reviews ---------------------------------------------------------*/



/*Footer ---------------------------------------------------------*/

footer{
    padding-bottom: 40px;
}
.footer-content {
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;

}
.footer-left > p{
    font-size: 14px;
    color: #2E2E2E;
    margin-bottom: 15px;
}
   .footer-left .phone{
       color: #EC1929;
       font-size: 14px;
       font-weight: 600;
   }
   .footer-left strong{
    font-size: 14px;
   }
   .footer-right{
    font-size: 14px;
    color: #2E2E2E;
    text-align: right;
   }
/*End Footer ---------------------------------------------------------*/


.products-content{
    margin-top: 50px;

}
.products-content .owl-item .item {
  padding: 5px;
}
.products .about-title{
  margin-top: 60px;
}
.products-content .row{
    gap: 25px 0px;
}


#page-product {
  margin-top: 95px;
}

/* Page Detail*/

  .details{
    margin-top: 140px;
    margin-bottom: 110px;
  }

  .details-content{
      padding: 30px;
      margin-top: 80px;
      border-radius: 15px ;
      padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;    
  }

  .details-title{
      font-size: 40px;
  }
  .details-des{
    font-size: 22px;
    color: #6E6E6E;
    font-weight: 600;
    margin-bottom: 23px;
  }

  .products  .navigation{
    margin-top: 18px;
  }

  .products .pagination .page-item{
    margin: 0 6px;
   text-align: center;
   line-height: 30px;
  }
  .products .pagination  .page-item .page-link{
    width: 40px ;
    height: 40px ;
    border-radius: 50% ;
    color: #000000;
     font-weight: 600;
  }

  .products .pagination .page-item .page-link:hover{
    background-color: #EB2021 !important;
    color: white !important;

  }
  .products .pagination .page-item .page-link:hover svg{
    color: white !important;

  }
  .products .pagination  .page-item.active .page-link{
    background-color:#EB2021;
    border: none;
    color: white;
  }

  .products a{
    text-decoration: none;
  }

  .products .card-title{
    color: #2E2E2E;
    font-size: 22px;
    font-weight: 600;
  }
/* End Page Detail*/


.navbar-close{
  display: none;
  width: 15px;
  height: 15px;
}

  

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: #EB2021 !important;
}
.nav-fix {
  position: fixed !important;
  top: 10px;
  /* background-color: #ECECEC; */
  color: #fff;
  transition: transform 0.3s ease;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.nav-fix-bg{
    background-color: #ececece8 !important;

}
.carousel-control-prev-icon{
  background-color: white;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;  
  background-image: url('/img/arrow-left-red.png') !important;
  background-size: auto !important;
  background-position: center center;
}
.carousel-control-next-icon{
  background-color: white;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  background-image: url('/img/arrow-right-red.png') !important;
  background-size: auto !important;
  background-position: center center;
}

#navbar.hide {
  transform: translateY(-100%);
}

#page-product .products{
  padding-top: 30px;
}

#navbar.hide {
  transform: translateY(0%);
}

.nav-mobile .navbar-toggler:focus{
  box-shadow: none;
}

.custom-select .language-mobile
{
  display: none !important;
}
@media screen and (max-width:992px) {
  .custom-select-trigger{
    display: none !important;
  }
  .custom-select .language-mobile{
    display: block !important;
    border: none;
  }
  .about{
    margin-top: 30px;
  }
  .navbar-nav .language .dropdown-menu{
    width: 100%;
    margin-top: -5px;
  }
  .language-title{
    display: none;
  }
  .nav-mobile{
    display: block !important;
    display: flex !important; 

  } 

  #navbar{
    padding: 10px 0;
  }
  .navbar .right{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-mobile{
    width: 100%;
    justify-content: space-between;

  }

  .nav-mobile{
    /* display: block; */
    display: flex;
  }
  .navbar-nav{
    display: initial !important;
    padding: 3px 0;
  } 

  .navbar-nav .dropdown-menu{
    border: none;
  }

  .nav-mobile .navbar-toggler{
    border: none;
    /* padding: 15px 20px; */

  }

  .navbar-nav .search{
    display: none;
  }
  .navbar .logo{
    display: none;
  }

  .navbar-nav .nav-item{
    padding: 10px 10px ;
 }
 
}

@media screen and (max-width:576px) {
  .nav-list{
    margin-top: 20px;
  }
  .mid .body{
    margin-top: 20px;
  }
  .custom-select-trigger{
    display: none !important;
  }
  .language-mobile{
    display: block !important;
  }
  .navbar-nav > li > .nav-link{
    padding: 0 0 !important;
    font-weight: 400;
  }
  .navbar-nav .nav-item{
    padding: 10px 0 !important;
  }
  .navbar-nav > li:first-child{
    padding: 10px 0 !important;
  }
  .navbar-nav .product .dropdown-menu{
    padding: 4px;
  }
  .navbar-nav .product .dropdown-menu .dropdown-item{
    font-weight: 400;
  }
  .details{
    margin-top: 104px;
  }
  .about-content{
    margin-top: 20px !important;
  }
  .choose{
    margin-top: 0 !important;
  }
  .choose-top{
    margin-top: 0 !important;
    padding-top: 20px !important;
  }
  .details-des{
    margin-bottom: 14px;
  }
  .carousel-control-prev,.carousel-control-next{
    display: none !important;
  }
  .details-content{
    box-shadow: none;
    padding: 0;
  }
  .carousel-link {
    display: none !important;
    padding: 30px 0 ;
  }
  .banner .carousel-caption{
    /* padding-top: 0; */
    /* top: 0 !important; */
    bottom: 0;
    padding-top: 0 ;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-link-mobile{
    display: block !important;
    display: flex !important;
  }
  #navbar{
    padding: 10px 0;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;    /* width: 100% !important; */

  }
  .navbar .right{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-mobile{
    width: 100%;
    justify-content: space-between;

  }

  .nav-mobile{
    display: block !important;
    display: flex !important;
  }
  .navbar-nav{
    display: initial !important;
    padding: 3px 0;
  } 

  .navbar-nav .dropdown-menu{
    border: none;
  }

  .nav-mobile .navbar-toggler{
    border: none;
    /* padding: 15px 20px; */

  }

  .navbar-nav .search{
    display: none;
  }
  .navbar .logo{
    display: none;
  }

  .navbar-nav .nav-item{
    padding: 10px 10px ;
 }
   .products .owl-nav .owl-prev,.products .owl-nav  .owl-next,.products .owl-dots{
      display: none !important; 
    }

    .choose{
      background-image: url('/img/Rectangle\ 165103.png'), url('/img/overplay.png');
    }

    .choose-content{
      min-width: 90%;
      padding: 26px 27px;
    }
    .choose-content_title{
      font-size: 20px !important;
    }
    .choose-content_text{
      font-size: 13px !important;
    }

    .nav-mobile .nav-link img{
      width: 90px;
       height: 49px;
    }

    .background-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 66%); /* Màu nền mờ với độ trong suốt 0.5 */
  }
  .choose-content {
     bottom: -64px;
  }
  .products{
    margin-top: 72px;
  }
  .btn-all{
    margin-top: 0;
  }
  .about-content .right{
    font-size: 13px;
  }
  .about-title{
    font-size: 24px;
    font-weight: 600;
  }
  .mid .box{
    padding: 9px 20px;
  }
  .reviews{
    margin-top: 28px;
  }
  .reviews-content{
    margin-top: 35px;
  }
  .map img{
     min-height: 384px;
     object-fit: cover;
  }


  .reviews .card-title{
    font-size: 16px;
    font-weight: 600;
  }


  .footer-content{
    text-align: center;
    padding: 20px 80px;
  }

  footer{
    padding: 0;
  }

  .footer-right{
    text-align: center;
  }
 
  .navbar{
    background-color: white;
  }
 
  .navbar-nav .dropdown-item{
    font-size: 14px;
  }

.nav-mobile .right .dropdown-menu{
  width: 100%;
  padding: 0;
  border: 0 !important;
  top: 82px !important;

}
.carousel-item img{
  height: 214px !important;
}
.carousel-indicators{
  margin-bottom: 1rem !important;
}
  .nav-mobile .right svg{
   color: #000000;
   width: 15px;
   height: 15px;
   
  }
  .navbar-toggler-icon{
    width: 15px !important;
    height: 15px !important;
  }

  .products .about-title{
    margin-top: 0px;
  }
  .products-content{
    margin-top: 20px;
  }
  .details-des{
    font-size: 16px;
  }
  .details-title{
    font-size: 24px;
  }

.carousel-title{
  font-size: 24px;
}

.carousel-link{
  display: none;
}
#page-product,.details{
  margin-top: 0px ;
}
#page-product .products{
  margin-top: 0px;
}
.details .details-content{
  padding-top: 30px;
  margin-top: 0px;
}
}



.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select-trigger {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.custom-options {
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  width: 100%;
  /* max-height: 200px; */
  overflow-y: auto;
  z-index: 100;
  border-radius: 10px;
  margin-top: 10px;
}

.angel-top{
  display: none;
}



.custom-options li {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}

.custom-options li:hover {
  background-color: #F9F2F2;
  color: #EB2021;
}

.custom-select-trigger .item,.custom-options .item{
  /* font-weight: 600; */
  color: #2E2E2E;

}
.ahihi{
  background-color: red !important;
}
.custom-select-trigger .item.active{
  font-weight: 600  ;
}
.custom-select .custom-options li p:hover{
  font-weight: 600 !important;
  color: #EC1929;
}


.dropdown-icon.opened {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  width: 100%;
  flex: 0 0 auto;
}
.carousel-item img{
  height: 650px;
}
.prev-btn,
.next-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 80%;
}

#search-input {
  width: 0;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  transition: width 0.5s ease;
  
}
#search-input:focus{
  box-shadow: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.5s ease;
}

 .expanded {
  width: 100% !important;
  border: 1px solid  #ececec !important;
  border-radius: 25px !important;
}

.expanded + .search-icon {
  transform: translate(0, -50%);

}